body {
    background-image: url(./img/BMWfrontaltop.jpg);
    background-size: cover;
    height: 100vh;
    margin: auto;
}

.contenido_tabla {
    background-color: black;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 4px solid #8e8e8e;
    margin: 15vh auto;
}

table {
    height: 100vh;
    margin: 15% auto;
    width: 70%;
    height: 70%;
    border-spacing: 0px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid white;
}

td {
    width: 50%;
    height: 50%;
    padding: 0px;
}


.azul_izq { background-color: #3c62ae; }
.blanco_der { background-color: #f5f5f5; }
.blanco_izq { background-color: #f5f5f5; }
.azul_der { background-color: #3c62ae; }